{% extends "base.html" %}

{% block title %}My dance database{% endblock %}

{% block misc %}
    <script type="text/javascript">
        window.extrainfo = {
            {% for dance in my_dances %}
            {{ dance.pk }}: "{{ dance.pretty_print_json|safe }}",
            {% endfor %}
        };
    </script>
{% endblock %}

{% block dancetable %}
{% for dance in my_dances %}
    <tr data-id="{{ dance.pk }}">
        <td class="details">SHOW</td>
        <td>{{ dance.title }}</td>
        <td>{{ dance.author }}</td>
        <td>{{ dance.formation }}</td>
        <td>{{ dance.progression }}</td>
        <td>{{ dance.moves_string }}</td>
        <td>{{ dance.tags }}</td>
    </tr>

{% endfor %}
{% endblock %}