{% extends "base.html" %}
{% load staticfiles %}

{% block title %}My dance database{% endblock %}

{% block misc %}
    <script src="{% static 'contratest/search.js' %}"></script>

    <script type="text/javascript">
        window.extraforms = {
            {% for move, individ_form in form_list %}
            {% spaceless %}
            {{ move }}: '<div class="subform" id="{{ move }}", style="display:inline-block">{{ individ_form }}</div>',
            {% endspaceless %}
            {% endfor %}
            "": ""
        };
    </script>

<p>This is me testing a fancy search thing.</p>

<p>
<form action="results" method="get">
    {% csrf_token %}
    <div id="searchform">
        <div id="form0a" class="mamaform" data-formNo="0" data-formLet="a">{{ form }}
            <div id="subform0a" class="babyform" style="display: inline"></div>
        </div>
    </div>
    <input type="button" value="+" onclick="addForm()">
    <input type="button" value="-" onclick="removeForm()">
    <input type="button" value="AND" onclick="newAndForm()">
    <input type="submit" value="Submit" />
</form>
</p>
{% endblock %}